@charset "utf-8";
*{
    margin: 0px;
    padding:0px;
}
:root{
    --color:rgb(11, 184, 232);
    --del:rgb(255,0,0);
    --text:rgb(0,200,22);
    --checkbox:rgb(169, 220, 0);
    --back:rgb(240, 236, 236);
}

#denger{
    display:flex;
    position:fixed;
    position:absolute;
    right:0px;
    top:0px;
}
#message,#del{    
    color:var(--del);
}

body{
    background: rgb(47, 49, 188);
}



#info{
    position: fixed;
    position: absolute;
    right:0px;
    bottom:40px;
}

#info #add{
    all:unset;
    float:right;
    border:right;
    background:var(--color);
    border-radius: 5px;
    width:150px;
    text-align: center;
}

#param{
    width:500px;
    height:200px;
}






#modal{
    background: var(--back);
    position: absolute;
    top: -1000px;
    height:100px;
    width:200px;
    padding: 64px;
    text-align: center;
}


